<?xml version="1.0"?>
<model>
  <name>e_Aruco Target</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ASGARD Team</name>
  </author>
  <description>
    Marqueur e-ArUco (Embedded ArUco) de 40x40cm pour l'atterrissage de précision (Coarse-to-Fine).
  </description>
</model>
