<?xml version="1.0"?>

<model>
  <name>Landing Net Target</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Zakaria H.</name>
  </author>

  <description>
    Cible d'atterrissage PnP pour le projet ASGARD.
    Contient 5 points magenta (1 centre + 4 coins) formant un carre de 20cm d'ecartement.
  </description>

</model>